* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.toppest-nav {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
    width: 100%;
    height: 30px;
}
.sticky {
    /* stcky prop */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.sticky-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: gray;
}
.sticky-bar-link {
    width: 100%;
    background: yellow;
    height: 30px;
}


.main-articles {
    border: black 1px solid;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 450px;
    margin-bottom: 7%;
}
.big-article {
    /* width: 60%; */
    grid-column: 1 / 2 ;
    background: red;
}
.stacked-articles {
    /* width: 40%; */
    grid-column: 2 / 3;
    background: blueviolet;
}
.top-stacker, btm-stacker {
    border: black 1px dashed;
}


main {
    border: black 1px solid;
    margin: 0 7%;
    display: flex;
    flex-direction: column;
}
.latest-news {
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
    height: 400px;
    /* margin-bottom: 7%; */
}
.ln-body {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.ln-body div {
    border: 1px black dashed;
}



.latest-fund {
    background: orange;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    /* margin-bottom: 7%; */
    height: 250px;

}
.lf-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.article-categories {
    background: lightblue;
    margin-top: 7%;
    /* margin-bottom: 7%; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 500px);
}



.latest-deals {
    background: green;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.ld-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}


footer {
    margin-top: 5%;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    height: 260px;
}
.top-ftr {
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 62%;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btm-ftr {
    background: darkkhaki;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38%;
}


@media all and (min-width:768px) and (max-width:1024px){

    .toppest-nav {
        display: none;
        /* make it dissapear */
    }
}


@media all and (max-width:767px){

}